@model BlindTypingTrainer.Web.ViewModels.TypingViewModel

<h2>Тренування</h2>

<div class="hand-placement">
    <img id="imag" src="~/images/uk.svg" alt="Правильне розташування пальців" />
</div>

<div class="typing-container">
    <div id="stageText" class="stage-text"></div>
    <textarea id="inputBox" rows="3" cols="60" autocomplete="off" autofocus></textarea>
</div>

<div class="stats">
    <span>Етап: <b id="stageNum">1</b> / @Model.Stages.Count</span>
    <span>Час: <b id="timer">00:00</b></span>
    <span>Правильно: <b id="correct">0</b></span>
    <span>Помилки: <b id="errors">0</b></span>
</div>

@* Скрытый input с JSON-списком этапов *@
<input type="hidden" id="stagesData" value='@Html.Raw(Json.Serialize(Model.Stages))' />

@* Форма завершения, в неё JS подставит correct/errors и отправит *@
<form id="finishForm" asp-controller="Typing" asp-action="Finish" method="post">
    <input type="hidden" name="sessionId" value="@Model.SessionId" />
    <input type="hidden" id="correctInput" name="correct" value="0" />
    <input type="hidden" id="errorsInput" name="errors" value="0" />
</form>

<button id="finish" type="button" style="display:none">Завершити</button>

@* Блок с итогами *@
<div id="summary" style="display:none; margin-top:2rem;">
    <h3>Результати уроку</h3>
    <p>Загальний час: <b id="totalTime">00:00</b></p>
    <p>Загальна кількість помилок: <b id="totalErrors">0</b></p>
    <p>Введено символів на хвилину: <b id="wpm">0</b></p>
    <p>Точність введення: <b id="accuracy">0%</b></p>
</div>

@section Scripts {
    <script src="~/js/typing-feedback.js"></script>
}
